apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: infisical-secret-store
  namespace: default
spec:
  provider:
    infisical:
      hostAPI: https://${infisical_region}.infisical.com
      auth:
        universalAuthCredentials:
          clientId:
            key: clientId
            namespace: default
            name: ${infisical_universal_auth_credentials_secret_name}
          clientSecret:
            key: clientSecret
            namespace: default
            name: ${infisical_universal_auth_credentials_secret_name}
      secretsScope:
        projectSlug: ${infisical_project_slug}
        environmentSlug: ${infisical_environment_slug}
        secretsPath: /
        recursive: false
        expandSecretReferences: false