apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-storage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-storage
  template:
    metadata:
      labels:
        app: redis-storage
    spec:
      containers:
        - name: redis
          image: redis:8.0.3-alpine
          command: ["redis-server", "/etc/redis/redis.conf"]
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: redis-data
              mountPath: /data
            - name: redis-config
              mountPath: /etc/redis/redis.conf
              subPath: redis.conf
          livenessProbe:
            tcpSocket: { port: 6379 }
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            tcpSocket: { port: 6379 }
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "100m"
              memory: "256Mi"
      volumes:
        - name: redis-data
          emptyDir: {}
        - name: redis-config
          configMap:
            name: redis-config