name: Pull request workflow
on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - id: checkout
      name: Checkout code 
      uses: actions/checkout@v4

    - id: setup-go
      name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.4'

    - id: build
      name: Build Go
      run: go build -v ./...

    - id: test
      name: Test Go
      run: go test -v ./...